body{
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap:2rem;
}

.container{
    background-color: white;
    overflow: hidden;
    border: 1;
    max-width: 15rem; 
    
}

.name{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color : whitesmoke;
}

.info{
    padding: 10px;
}

.flag{
    height: 100%;
    height: 10rem;
}

.btn{
    justify-content: center;
}